[package]
name = "pixel-game-lib"
version = "0.2.0"
edition = "2021"
authors = ["Thomas Versteeg <t@versteeg.email>"]
license = "AGPL-3.0"
homepage = "https://github.com/tversteeg/pixel-game-lib"
readme = "README.md"
description = "Utility library for 2D pixel-based games"
documentation = "https://docs.rs/pixel-game-lib"
repository = "https://github.com/tversteeg/pixel-game-lib.git"
keywords = ["gamedev", "utility"]
categories = [
	"games",
	"game-engines",
]

[features]
default = ["hot-reloading-assets"]

# Embed a default pixel font.
default-font = []

# Enable assets and hot-reload assets from disk when they are saved.
#
# Has no effect when building for the web.
hot-reloading-assets = ["assets_manager/hot-reloading"]
# Enable assets and include them all in the binary.
#
# Always enabled when building for the web.
#
# This feature takes precedence over `hot-reloading-assets` when both are set.
embedded-assets = ["assets_manager/embedded"]

[dependencies]
blit = "0.8.3"
image = "0.24.7"
miette = "5.10.0"
vek = "0.16.1"
game-loop = { version = "1.0.0", features = ["winit"] }
pixels = "0.13.0"
serde = { version = "1.0.188", features = ["derive"] }
winit = "0.28.7"
winit_input_helper = "0.14.1"
taffy = "0.3.16"
derive-where = "1.2.5"

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
assets_manager = { version = "0.10.2", default-features = false, features = ["toml", "png", "embedded"] }
tokio = { version = "1.33.0", features = ["macros", "sync", "rt-multi-thread"], optional = true }

[target.'cfg(target_arch = "wasm32")'.dependencies]
web-sys = { version = "0.3.64", features = ["CanvasRenderingContext2d", "Document", "Element", "HtmlCanvasElement", "ImageData", "Window"] }
wasm-bindgen = "0.2.87"
wasm-bindgen-futures = "0.4.37"
console_error_panic_hook = "0.1.7"
assets_manager = { version = "0.10.2", default-features = false, features = ["toml", "png", "embedded"] }

[[example]]
name = "window"

[[example]]
name = "font"
required-features = []

[[example]]
name = "gui"
required-features = ["default-font"]

[workspace]
members = ["run-wasm"]
