[package]
name = "pixel-game-lib"
version = "0.4.3"
edition = "2021"
authors = ["Thomas Versteeg <t@versteeg.email>"]
license = "AGPL-3.0"
homepage = "https://github.com/tversteeg/pixel-game-lib"
readme = "README.md"
description = "Utility library for 2D pixel-based games"
documentation = "https://docs.rs/pixel-game-lib"
repository = "https://github.com/tversteeg/pixel-game-lib.git"
keywords = ["gamedev", "utility"]
categories = [
	"games",
	"game-engines",
]
rust-version = "1.72.1"

[features]
default = ["hot-reloading-assets", "physics"]

# Embed a default pixel font.
default-font = []

# Enable assets and hot-reload assets from disk when they are saved.
#
# Has no effect when building for the web.
hot-reloading-assets = ["assets_manager/hot-reloading"]

# Enable assets and include them all in the binary.
#
# Always enabled when building for the web.
#
# This feature takes precedence over `hot-reloading-assets` when both are set.
embedded-assets = ["assets_manager/embedded"]

# Enable the 2D physics engine.
physics = ["dep:hecs", "dep:bvh-arena", "dep:parry2d-f64"]

[dependencies]
blit = { version = "0.8.4", features = ["serde"] }
image = "0.24.7"
miette = "5.10.0"
vek = "0.16.1"
game-loop = "1.0.0"
pixels = "0.13.0"
serde = { version = "1.0.195", features = ["derive"] }
winit = { version = "0.29.9", features = ["rwh_05"] }
winit_input_helper = "0.15.2"
taffy = "0.3.18"
derive-where = "1.2.7"
puffin = "0.18.1"
line_drawing = "1.0.0"

# `physics` feature

bvh-arena = { version = "1.1.3", optional = true }
hecs = { version = "0.10.4", optional = true, features = ["macros"] }
parry2d-f64 = { version = "0.13.5", features = ["simd-stable"], optional = true }

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
assets_manager = { version = "0.10.2", default-features = false, features = ["toml", "png", "embedded"] }
tokio = { version = "1.35.1", features = ["macros", "sync", "rt-multi-thread"], optional = true }

[target.'cfg(target_arch = "wasm32")'.dependencies]
web-sys = { version = "0.3.67", features = ["CanvasRenderingContext2d", "Document", "Element", "HtmlCanvasElement", "ImageData", "Window"] }
wasm-bindgen = "0.2.90"
wasm-bindgen-futures = "0.4.40"
console_error_panic_hook = "0.1.7"
assets_manager = { version = "0.10.2", default-features = false, features = ["toml", "png", "embedded"] }

[[example]]
name = "window"

[[example]]
name = "font"
required-features = []

[[example]]
name = "gui"
required-features = ["default-font"]

[[example]]
name = "physics"
required-features = ["default-font", "physics"]

[workspace]
members = ["run-wasm"]

[dev-dependencies]
line_drawing = "1.0.0"
