[workspace]
changelog_config = ".github/git-cliff.toml"

[[package]]
name = "chuot"

[[package]]
name = "chuot-macros"

# Ignore run-wasm
[[package]]
name = "run-wasm"
semver_check = false
changelog_update = false
git_tag_enable = false
git_release_enable = false
publish = false
